{% extends "base.html" %}

{% block page_content %}

<div class="container" id="title-list" style="color:white; background-color: #3d85c6ff ; margin: 0px; padding: 0px; width: 60%; height: 50px; text-align: left; margin-left: 20%; text-align: center;">
    <h6 style="font-size: 25px; padding-top: 10px;">
        Description
    </h6>
</div>

<div class="container" id="scroll-list"style="margin: 0px; padding: 0px; background-color: #ffffffdb;  width: 60%; height: auto; text-align: left; margin-left: 20%; text-align: center; padding-bottom: 10px; margin-bottom: 35px;">
    <h6 style="font-size: 20px; padding-top: 15px;">
        This is the Pleasant Valley High School Competitive Chess Club
    </h6>
</div>

<div class="container" id="title-list" style="color:white; background-color: #3d85c6ff ; margin: 0px; padding: 0px; width: 60%; height: 50px; text-align: left; margin-left: 20%; text-align: center;">
    <h6 style="font-size: 25px; padding-top: 10px;">
        Location
    </h6>
</div>

<div class="container" id="scroll-list"style="margin: 0px; padding: 0px; background-color: #ffffffdb;  width: 60%; height: auto; text-align: left; margin-left: 20%; text-align: center; padding-bottom: 10px; margin-bottom: 35px;">
    <h6 style="font-size: 20px; padding-top: 10px;">
        Pleasant Valley High School
    </h6>
    <h6 style="font-size: 20px; padding-top: 15px;">
        604 Belmont Rd, Riverdale, IA 52722
    </h6>
</div>

<div class="container" id="title-list" style="color:white; background-color: #3d85c6ff ; margin: 0px; padding: 0px; width: 60%; height: 50px; text-align: left; margin-left: 20%; text-align: center;">
    <h6 style="font-size: 25px; padding-top: 10px;">
        Contact Info
    </h6>
</div>

<div class="container" id="scroll-list"style="margin: 0px; padding: 0px; background-color: #ffffffdb;  width: 60%; height: auto; text-align: left; margin-left: 20%; text-align: center; padding-bottom: 10px; margin-bottom: 350px;">
    <h6 style="font-size: 20px; padding-top: 15px;">
        gubba.ricky@gmail.com <br>
        rithwick.laks@gmail.com 
    </h6>
</div>

{% endblock %}
